.tree {
  --tree-spacing: 1.5rem;
  --tree-radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--tree-spacing) - var(--tree-radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--tree-radius) - var(--tree-spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid var(--tree-color, #a3d6a3);
}

.tree summary,
.tree li {
  padding-bottom: 10px;
}

.tree summary:last-child,
.tree li:last-child {
  padding-bottom: 0px;
}

.tree .kingdoms-img {
  width: calc(var(--tree-spacing) * 1);
  height: var(--tree-spacing);
}

.item {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 12px;
}

.item:hover {
  background-color: var(--color-accent);
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--tree-spacing) / -2);
  left: -2px;
  width: calc(var(--tree-spacing) + 2px);
  height: calc(var(--tree-spacing) + 1px);
  border: solid var(--tree-color, #a3d6a3);
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree li > details > summary::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--tree-spacing) / 2 - var(--tree-radius));
  left: calc(var(--tree-spacing) - var(--tree-radius) - 1px);
  width: calc(2 * var(--tree-radius));
  height: calc(2 * var(--tree-radius));
  border-radius: 50%;
  background: var(--tree-color, green);
}

.tree li > details > summary::before {
  z-index: 1;
  background: var(--tree-color, #a3d6a3) url("/expand-collapse.svg") 0 0;
}

.tree li > details > summary:hover::before {
  background-color: var(--tree-color, green);
}

.tree details[open] > summary::before {
  background-position: calc(-2 * var(--tree-radius)) 0;
}
